{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point, and I don't want to make big changes now.
    "comma-dangle": 0,
    "spaced-comment": [0, "always"],
    "react/jsx-space-before-closing": [1, "always"],
    "object-curly-spacing": [0, "always"],
    "new-cap": 1,
    "no-param-reassign": 1,
    "consistent-return": ["error", { "treatUndefinedAsUnspecified": true }]
  },
  "globals": {
    "__DEVELOPMENT__": false,
    "__DEVTOOLS__": false
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
